<section id="add" class="container">
    <div class="form-wrap">
        <h1>Add A Client</h1>
        <p>The client's email address is stored for a convenient contact method.</p>
        {{#each errors}}
        <div class="error">
            <p>{{text}}</p>
        </div>
        {{/each}}
        <form action="/clients/add" method="POST">
            <div class="input-group">
                <label for="name">Client's Name:</label>
                <input type="text" name="name" id="name" class="input-box" placeholder="Type the Client's Name Here"
                    maxlength="100" value={{name}} />
            </div>
            <div class="input-group">
                <label for="eyelash_length">Length of Eye Lashes:</label>
                <input type="text" name="eyelash_length" id="eyelash_length" class="input-box"
                    placeholder="Type In The Length of Eyelashes Used For This Client" maxlength="100"
                    value={{eyelash_length}} />
            </div>
            <div class="input-group">
                <label for="eyelash_type">Type of Eye Lashes:</label>
                <input type="text" name="eyelash_type" id="eyelash_type" class="input-box"
                    placeholder="Enter In The Type of Eyelashes Used For This Client" maxlength="100"
                    value={{eyelash_type}} />
            </div>
            <div class="input-group">
                <label for="price_per_fill">Price For Half Set:</label>
                <input type="number" name="price_per_fill" id="price_per_fill" class="input-box"
                    placeholder="Add The Price For Half Set" value={{price_per_fill}} />
            </div>
            <div class="input-group">
                <label for="price_per_full">Price For Full Set:</label>
                <input type="number" name="price_per_full" id="price_per_full" class="input-box"
                    placeholder="Add The Price For Full Set" value={{price_per_full}} />
            </div>
            <div class="input-group">
                <label for="phone_number">Phone Number:</label>
                <input type="number" name="phone_number" id="phone_number" class="input-box"
                    placeholder="Enter The Client's Phone Number" value={{phone_number}} />
            </div>
            <div class="input-group">
                <label for="email">Email Address:</label>
                <input type="email" name="email" id="email" class="input-box"
                    placeholder="Enter The Client's Email Address" value={{email}} />
            </div>
            <input type="submit" value="Add Client" class="btn btn-reverse" />
        </form>
    </div>
</section>