<section id="clients" class="container">
    <h1>All Clients</h1>

    {{#each clients}}
    <div class="client">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <ul>
            <li>Budget: {{budget}}</li>
            <li><a href="mailto:{{contact_email}}" class="btn btn-reverse">Contact Now</a></li>
        </ul>
        <div class="tech">
            <small>Technologies Needed: <span>{{technologies}}</span></small>
        </div>
    </div>
    {{else}}
    <p>No clients available</p>
    {{/each}}

</section>